%h2 About True Paradox

%p
  True Paradox is the online notebook of Dev and Andrea Singh, two web developers living in Hawaii. Here we plan to chart our adventures with ruby, rails and other web technologies.
%p 
  If you’re interested in hiring us for some freelancing work, email us at 
  %a{:href => "mailto:info@madebydna.com"} info@madebydna.com
%p
  You can see samples of our work at 
  %a{:href => "http://madebydna.com"} Made by DNA
