.projects
  %h2 Projects
  %ul.menu
    %li
      %a{ :href => 'http://www.freestylemind.com/' }= 'Freestyle Mind'
    %li
      %a{ :href => 'http://www.rubyxp.com/' }= 'Ruby regular expression parser'
    %li
      %a{ :href => 'http://www.showmemoneyapp.com/' }= 'Showmemoney App'
    %li
      %a{ :href => '/projects/web-fonts-comparison' }= 'Web fonts comparison'