<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Web Fonts Comparison</title>

<link rel="stylesheet" href="/css/web-fonts-comparison.css" type="text/css" />

<!--[if IE]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

</head>

<body id="top">
  <div id="container">
    <p id="home"><a href="/">Home</a></p>
    
    <h1>Web fonts comparison</h1>
    
    <p>I thought it would have been nice to have a tool to compare fonts for the web, so I decided to create one myself.</p>
    
    <p><strong>Just click on any list to see how the fonts in it list looks like.</strong> You need to have the fonts installed in your computer in order to display them. If you think I should include some other fonts, just drop me an <script type="text/javascript">document.write(
"<n uers=\"znvygb:vasb\100bfpneqryora\056pbz\">rznvy<\057n>".replace(/[a-zA-Z]/g, function(c){return String.fromCharCode((c<="Z"?90:122)>=(c=c.charCodeAt(0)+13)?c:c-26);}));
</script>.</p>
    
    <h2>Web Safe Fonts</h2>
    
    <p>These fonts are found in 95% of computers.</p>
    
    <ul id="web-safe">
      <li>&#8220;Andale Mono&#8221;</li>
      <li>Arial</li>
      <li>&#8220;Arial Black&#8221;</li>
      <li>&#8220;Comic Sans MS&#8221;</li>
      <li>Courier</li>
      <li>Georgia</li>
      <li>Impact</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>&#8220;Trebuchet MS&#8221;</li>
      <li>Verdana</li>
    </ul>
    
    <h2>Common Fonts</h2>
    
    <p>These are the most common fonts used in the web.</p>
    
    <ul id="long-list">
      <li>&#8220;Andale Mono&#8221;</li>
      <li>&#8220;Apple Gothic&#8221;</li>
      <li>Arial</li>
      <li>&#8220;Arial Black&#8221;</li>
      <li>&#8220;Arial Narrow Bold&#8221;</li>
      <li>Baskerville</li>
      <li>Calibri</li>
      <li>Cambria</li>
      <li>&#8220;Century Gothic&#8221;</li>
      <li>&#8220;Comic Sans MS&#8221;</li>
      <li>Consolas</li>
      <li>&#8220;Copperplate Gothic Light&#8221;</li>
      <li>&#8220;Copperplate Light&#8221;</li>
      <li>Courier</li>
      <li>&#8220;Courier New&#8221;</li>
      <li>&#8220;Franklin Gothic Medium&#8221;</li>
      <li>Futura</li>
      <li>Garamond</li>
      <li>Geneva</li>
      <li>Georgia</li>
      <li>&#8220;Gill Sans&#8221;</li>
      <li>Haettenschweiler</li>
      <li>Helvetica</li>
      <li>&#8220;Helvetica Neue&#8221;</li>
      <li>&#8220;Hoefler Text&#8221;</li>
      <li>Impact</li>
      <li>&#8220;Lucida Console&#8221;</li>
      <li>&#8220;Lucida Grande&#8221;</li>
      <li>&#8220;Lucida Sans&#8221;</li>
      <li>&#8220;Lucida Sans Unicode&#8221;</li>
      <li>Monaco</li>
      <li>monospace</li>
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>sans-serif</li>
      <li>serif</li>
      <li>Tahoma</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>Trebuchet</li>
      <li>Trebuchet MS</li>
      <li>Verdana</li>
    </ul>
    
    <h2>Font Families</h2>
    
    <p>These are common font families, courtesy of <a href="http://unitinteractive.com/blog/2008/06/26/better-css-font-stacks/">better css font stacks</a>.</p>
    
    <h3>Paragraphs <span class="amp">&amp;</span> Titles</h3>
    
    <p>These fonts are ideal both for paragraphs and titles.</p>
    
    <ul id="family1">
      <li>Arial</li>
      <li>&#8220;Helvetica Neue&#8221;</li>
      <li>Helvetica</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family2">
      <li>Baskerville</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>Times</li>
      <li>serif</li>
    </ul>
    
    <ul id="family3">
      <li>Baskerville</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family4">
      <li>Cambria</li>
      <li>Georgia</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family5">
      <li>&#8220;Century Gothic&#8221;</li>
      <li>&#8220;Apple Gothic&#8221;</li>
      <li>sans-serif</li>
    </ul>
   
    <ul id="family6">
      <li>Consolas</li>
      <li>&#8220;Lucida Console&#8221;</li>
      <li>Monaco</li>
      <li>monospace</li>
    </ul>
    
    <ul id="family7">
      <li>&#8220;Copperplate Light&#8221;</li>
      <li>&#8220;Copperplate Gothic Light&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family8">
      <li>&#8220;Courier New&#8221;</li>
      <li>Courier</li>
      <li>monospace</li>
    </ul>
    
    <ul id="family9">
      <li>&#8220;Franklin Gothic Medium&#8221;</li>
      <li>&#8220;Arial Narrow Bold&#8221;</li>
      <li>Arial</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family10">
      <li>Baskerville</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>Times</li>
      <li>serif</li>
    </ul>
    
    <ul id="family11">
      <li>Futura</li>
      <li>&#8220;Century Gothic&#8221;</li>
      <li>AppleGothic</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family12">
      <li>Impact</li>
      <li>Haettenschweiler</li>
      <li>&#8220;Arial Narrow Bold&#8221;</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family13">
      <li>&#8220;Lucida Sans&#8221;</li>
      <li>&#8220;Lucida Grande&#8221;</li>
      <li>&#8220;Lucida Sans Unicode&#8221;</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family14">
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>Georgia</li>
      <li>serif</li>
    </ul>
    
    <h3>Paragraphs</h3>
    
    <p>These fonts are ideal for paragraphs.</p>
    
    <ul id="family15">
      <li>Garamond</li>
      <li>&#8220;Hoefler Text&#8221;</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>Times</li>
      <li>serif</li>
    </ul>
    
    <ul id="family16">
      <li>Geneva</li>
      <li>&#8220;Lucida Sans&#8221;</li>
      <li>&#8220;Lucida Grande&#8221;</li>
      <li>&#8220;Lucida Sans Unicode&#8221;</li>
      <li>Verdana</li>
      <li>sans-serif</li>
    </ul>

    <ul id="family17">
      <li>Georgia</li>
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family18">
      <li>&#8220;Gill Sans&#8221;</li>
      <li>Calibri</li>
      <li>&#8220;Trebuchet MS&#8221;</li>
      <li>sans-serif</li>
    </ul>

    <ul id="family19">
      <li>&#8220;Helvetica Neue&#8221;</li>
      <li>Arial</li>
      <li>Helvetica</li>
      <li>sans-serif</li>
    </ul>

    <ul id="family20">
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>Georgia</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>

    <ul id="family21">
      <li>Tahoma</li>
      <li>Geneva</li>
      <li>Verdana</li>
    </ul>

    <ul id="family22">
      <li>&#8220;Trebuchet MS&#8221;</li>
      <li>&#8220;Lucida Sans Unicode&#8221;</li>
      <li>&#8220;Lucida Grande&#8221;</li>
      <li>&#8220;Lucida Sans&#8221;</li>
      <li>Arial</li>
      <li>sans-serif</li>
    </ul>

    <ul id="family23">
      <li>Verdana</li>
      <li>Geneva</li>
      <li>Tahoma</li>
      <li>sans-serif</li>
    </ul>
    
    <h3>Titles</h3>
    
    <p>These fonts are ideal for titles.</p>
    
    <ul id="family24">
      <li>Garamond</li>
      <li>&#8220;Hoefler Text&#8221;</li>
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>serif</li>
    </ul>

    <ul id="family25">
      <li>Geneva</li>
      <li>Verdana</li>
      <li>&#8220;Lucida Sans&#8221;</li>
      <li>&#8220;Lucida Grande&#8221;</li>
      <li>&#8220;Lucida Sans Unicode&#8221;</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family26">
      <li>Georgia</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family27">
      <li>&#8220;Gill Sans&#8221;</li>
      <li>&#8220;Trebuchet MS&#8221;</li>
      <li>Calibri</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family28">
      <li>Helvetica</li>
      <li>&#8220;Helvetica Neue&#8221;</li>
      <li>Arial</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family29">
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>Georgia</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>
    
    <ul id="family30">
      <li>Palatino</li>
      <li>&#8220;Palatino Linotype&#8221;</li>
      <li>&#8220;Hoefler Text&#8221;</li>
      <li>Times</li>
      <li>&#8220;Times New Roman&#8221;</li>
      <li>serif</li>
    </ul>

    <ul id="family31">
      <li>Tahoma</li>
      <li>Verdana</li>
      <li>Geneva</li>
    </ul>
    
    <ul id="family32">
      <li>&#8220;Trebuchet MS&#8221;</li>
      <li>Tahoma</li>
      <li>Arial</li>
      <li>sans-serif</li>
    </ul>
    
    <ul id="family33">
      <li>Verdana</li>
      <li>Tahoma</li>
      <li>Geneva</li>
      <li>sans-serif</li>
    </ul>
    
    <div id="show_fonts">
    </div>
    
    <p class="bottom">
      <a href="#top">Back to top</a>
    </p>
    
  </div>
  <script type="text/javascript" charset="utf-8" src="/js/jquery.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/ui.core.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/ui.draggable.js"></script>
  <script type="text/javascript" charset="utf-8" src="/js/web-fonts-comparison.js"></script>
  
  <script type="text/javascript">
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
  try {
  var pageTracker = _gat._getTracker("UA-5297880-1");
  pageTracker._trackPageview();
  } catch(err) {}</script>
</body>
</html>
